/* Search Section */
#searchSection {
    padding: 20px;
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 10px; /* Rounded corners */
}

/* Search Input */
#searchInput {
    padding: 10px;
    width: calc(100% - 22px); /* Full width minus padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Search Button */
#searchButton {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #0056b3;
}

/* Results Layout */
#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Individual Movie Item */
.movie-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 180px; /* Fixed width for consistency */
    height: 280px; /* Fixed height for uniformity */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.movie-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 5px;
}

/* Pagination Style */
.pagination {
    margin-top: 20px;
    text-align: center;
}

/* Pagination Button Style */
.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #0056b3;
}